 <div class="social-media">
  <div><img src="Images/soundcloud.svg" alt="Soundcloud" width="45" height="36"></div>
  <div><img src="Images/x-twitter.svg" alt="X-twitter" width="32" height="36"></div>
  <div><img src="Images/Facebook.svg" alt="Facebook" width="36" height="36"></div>
  <div><img src="Images/instagram.svg" alt="Instagram" width="32" height="36"></div>
<div><img src="Images/telegram.svg" alt="Telegram" width="36" height="36"></div>
<div><img src="Images/youtube.svg" alt="Youtube" width="41" height="36"></div>
<div><img src="Images/vimeo-v.svg" alt="Vimeo" width="32" height="36"></div>
 </div>
 <div class="legal">
 <span class="copyright"><img src="Images/copyright.svg" alt="Copyright" width="9" height="9">
  <p>adfb Agency. Tous droits réservés.</p></span>
<a href="#">Protection des données</a>
<a href="#">Mentions légales</a>
<a href="#">Cookies</a>
</div>